{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/rez3d.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<canvas id="bg">canvas</canvas>
  <main>
    <div id="here" style="display:none;">
      <a href="{{ path('nowa_rezerwacja') }}">
        <p id="option">Wynajmij stolik w tym pokoju (Pokoj Mario)</p>
      </a>

      <div id="kafelki">

        <div id="kafelek1">
          <a href="{{ path('rezerwacja3d') }}">
            <img src="{{ asset('pic/room_wolf_logo.svg') }}" alt="logo pokoju wolf 3d">
          </a>
        </div>

        <div id="kafelek2">
          <a href="{{ path('rezerwacja3d_mario_room') }}">
            <img src="{{ asset('pic/room_mario_logo.svg') }}" alt="logo pokoju mario">
          </a>
        </div>

        <div id="kafelek3">
          <a href="{{ path('rezerwacja3d_invaders_room') }}">
            <img src="{{ asset('pic/space_invaders_room_logo.svg') }}" alt="logo pokoju space invaders">
          </a>
        </div>

      </div>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  <!-- {{ parent() }} -->
  <script type="module" src="{{ asset('js/pokoj_mario.js') }}">
  </script>
  <script type="module" src="{{ asset('js/controls_hdr.js') }}">
  </script>
{% endblock %}
