{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/rez3d.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<canvas id="bg">canvas</canvas>
  <main>
    <div id="here" style="display:none;">
      <a href="{{ path('nowa_rezerwacja') }}">
        <p id="option">Wynajmij ten stolik</p>
      </a>
    </div>
  </main>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="{{ asset('js/pokoj_wolf.js') }}">
  </script>
  <script type="module" src="{{ asset('js/controls_hdr.js') }}">
  </script>
{% endblock %}
